$primary-color: rgb(105, 59, 59);
$accent-color: rgb(230, 204, 184);
$text-color: white;

$media-border: 1px;

// Alpine Facebook Clone
$teal-fade: linear-gradient(to top, #1a7a92, rgb(93, 235, 235));
$icon-gray: #b0b3b8;

$light-gray: #3a3b3c;
$medium-gray: #242526;
$dark-gray: #18191a;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$mobile: 800px;