.body {
    &-col {
        &-right {
            padding: 16px;
            flex-grow: 1;
        }
    }
}

.rule {
    border-bottom: 2px solid teal;
}


// 'sm': '640px',
@media only screen and (min-width: 640px) {
}

// 'md': '768px',
@media only screen and (min-width: 768px) {
}

// 'lg': '1024px',
@media only screen and (min-width: 1024px) {
}

//'xl': '1280px',
@media only screen and (min-width: 1280px) {
}

// '2xl': '1536px',
@media only screen and (min-width: 1536px) {
}